# https://clangd.llvm.org/config#files
# https://clangd.llvm.org/installation
CompileFlags:                     
  Add: [-xc, -std=c11, -Wall ,-Wextra ,--target=riscv32 ,-ffreestanding ,-nostdlib]
  Remove: []                  
  Compiler: clang
